.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaea;
    height: 60px;
  }
  
  .notificationArea {
    margin-top: 13px;
    margin-right: 60px
  }
  
  .notificationBell {
    cursor: pointer;
  }
  
  .notificationBell img {
    width: 30px;
    height: 30px;
  }
  
  .userInfo {
    display: flex;
    align-items: center;
  }
  
  .userName {
    margin-right: 10px;
    color: #333;
  }
  
  .userAvatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .userAvatar img {
    width: 20px;
    height: 20px;
  }